{% extends 'base.html' %}

{% block content %}

<div class="min-h-screen bg-gray-100 flex flex-col justify-center sm:py-12">
    <div class="p-10 xs:p-0 mx-auto md:w-full md:max-w-md">
        <h1 class="font-bold text-center text-2xl">Password Manager</h1>
        <hr class="mb-1 mt-1 border-b-1 border-gray-300" />
        <span class="text-center text-sm font-semibold text-gray-500 flex justify-center">Register your account</span>
        <div class="bg-white shadow w-full rounded-lg divide-y divide-gray-200 mt-4">
            <form class="px-5 py-7" method="POST">
                {% csrf_token %}

                {% for message in messages %}
                <div class="bg-red-100 border-l-4 border-red-500 text-red-700 p-2 mb-5" role="alert">
                    <p class="font-bold">Be Warned</p>
                    <p>{{ message }}</p>
                </div>
                {% endfor %}

                <label class="font-semibold text-sm text-gray-600 pb-1 block" for="id_username">Username</label>
                <input type="text"
                    class="border rounded-lg px-3 py-2 mt-1 text-sm w-full {% if form.errors.username %} border-red-500 {% endif %}"
                    name="username" id="id_username" placeholder="Username" />
                {% if form.errors.username %}
                <p class="text-red-500 text-xs italic">{{ form.errors.username.0 }}</p>
                {% endif %}
                <label class="font-semibold text-sm text-gray-600 pb-1 block mt-5 " for="id_password1">Password</label>
                <input type="password"
                    class="border rounded-lg px-3 py-2 mt-1 text-sm w-full {% if form.errors.password1 %} border-red-500 {% endif %}"
                    name="password1" id="id_password1" placeholder="Password" />
                {% if form.errors.password1 %}
                <p class="text-red-500 text-xs italic">{{ form.errors.password1.0 }}</p>
                {% endif %}
                <li>Contain at least 8 characters.</li>
                <li>No commonly used password.</li>
                <li>No entirely numeric.</li>
                <label class="font-semibold text-sm text-gray-600 pb-1 block mt-5 " for="id_password2">Confirm
                    password</label>
                <input type="password"
                    class="border rounded-lg px-3 py-2 mt-1 text-sm w-full {% if form.errors.password2 %} border-red-500 {% endif %}"
                    name="password2" id="id_password2" placeholder="Confirm Password" />
                {% if form.errors.password2 %}
                <p class="text-red-500 text-xs italic">{{ form.errors.password2.0 }}</p>
                {% endif %}
                <button type="submit"
                    class="transition duration-200 bg-blue-500 hover:bg-blue-600 focus:bg-blue-700 focus:shadow-sm focus:ring-4 focus:ring-blue-500 focus:ring-opacity-50 text-white w-full py-2.5 rounded-lg text-sm shadow-sm hover:shadow-md font-semibold text-center inline-block mt-5">
                    <span class="inline-block mr-2">Register</span>
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor"
                        class="w-4 h-4 inline-block">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M17 8l4 4m0 0l-4 4m4-4H3" />
                    </svg>
                </button>
        </div>
        <a type="button" href="{% url 'login' %}"
            class="transition duration-200 mx-5 py-3 cursor-pointer font-normal text-sm rounded-lg text-gray-500 hover:bg-gray-100 focus:outline-none focus:bg-gray-200 focus:ring-2 focus:ring-gray-400 focus:ring-opacity-50 ring-inset">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor"
                class="w-4 h-4 inline-block align-text-top">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="M8 11V7a4 4 0 118 0m-4 8v2m-6 4h12a2 2 0 002-2v-6a2 2 0 00-2-2H6a2 2 0 00-2 2v6a2 2 0 002 2z" />
            </svg>
            <span class="inline-block ml-1">Already have account?</span>
            </button>
    </div>
</div>
{% endblock %}